<!DOCTYPE html>
<html lang="ro">
    <head>
        <meta name="keywords" content="drumetie,trasee montane,munte">
        <meta name="description" content="Diverse trasee montane din Romania, dar nu numai">
        <title>Eroare 403</title>

        <%- include("../fragmente/head") %>
    </head>

    <body>
        <%- include("../fragmente/header") %>

        <main>
            <section>
                <h2>Eroare 403</h2>
                <p>Din pacate pozele galeriei nu au putut fi generate! Te rugam sa incerci mai tarziu!</p>
                <img width="300px" height="200px" alt="Poza despre eroare" src="/resurse/Images/error403.jpg">
            </section>
        </main>
    </body>

    <%- include("../fragmente/footer") %>


</html>