<!DOCTYPE html>
<html lang="ro">
    <head>
        <meta name="keywords" content="drumetie,trasee montane,munte">
        <meta name="description" content="Diverse trasee montane din Romania, dar nu numai">
        <title>Eroare 404</title>

        <%- include("../fragmente/head") %>
    </head>

    <body>
        <%- include("../fragmente/header") %>

        <main>
            <section>
                <h2>Eroare 404</h2>
                <p>Din pacate ai ajuns pe meleagurile unei pagini neeistente! 
                    Te rugam sa accesezi una dintre paginile disponibile din meniu.</p>
                <img width="300px" height="200px" alt="Poza despre eroare" src="/resurse/Images/error404.jpg">
            </section>
        </main>
    </body>

    <%- include("../fragmente/footer") %>


</html>