<!DOCTYPE html>
<html lang="ro">
    <head>
        <meta name="keywords" content="drumetie,trasee montane,munte">
        <meta name="description" content="Diverse trasee montane din Romania, dar nu numai">
        <title>Cine suntem?</title>

        <%- include("../fragmente/head") %>
    </head>

    <body>
        <%- include("../fragmente/header") %>

        <main>
            <section>
                <h2>Cine suntem?</h2>
                <p>Suntem un grup de prieteni pasionati de urcatul pe munte,
                   in cautarea de noi novici ai acestui sport.</p>
            </section>
            <section>
                <h2>Cum ne-am format?</h2>
                <p>La o cabana dupa o drumetie reusita.</p>
            </section>
            <section>
                <h2>Principiile nastre?</h2>
                <p>Credem cu tarie ca oricine poate deveni un adevarat montaniard si ca muntele
                   este casa celui care stie sa-l priveasca.</p>
            </section>
            <section>
                <h2>Concluzie?</h2>
                <p>Noi credem in tine, tu de cu ai face-o? Vino si alatura-te comunitatii noastre.
                    Impreuna suntem invingatori.</p>
                <img width="300px" height="200px" alt="Poza victoriei" src="/resurse/Images/Noi.png">
            </section>
        </main>
    </body>

    <%- include("../fragmente/footer") %>


</html>