<footer>
            
    <a href="#" title="Mergi sus" id="link-top"><div id="triunghi"></div></a>
        
<address>
    Ma puteti contacta la numarul de telefon <a href="tel:+40122354790">0122-354-790</a><br>
    Sau daca va vine mai usor imi puteti scrie la <a href="mailto:drumetpemunte@exemplu.com">drumetpemunte@exemplu.com</a><br>
    Sau daca va plac lucrurile clasice imi puteti trimite o scrisoare la adresa:Strada Muntilor Nr.26
</address>

<small>
    &#169; copyright<br>
     Ultima modificare<time datetime="2021-03-08 23:22">2021-03-08 23:22</time>
</small>


</footer>